class {{ o | dboClassName(x.schema) }} {
    {%- for column in o.columns %}
    {{ x.diagramTypes[column.type.name] }} +{{ column.name }}
    {%- endfor %}
    {%- for relation in o.o2mRelations %}
    {{ relation.targetTable | dboClassName(x.schema) }}[] +{{ relation.name }}
    {%- endfor %}
    {%- for relation in o.m2oRelations %}
    {{ relation.targetTable | dboClassName(x.schema) }} +{{ relation.name }}
    {%- endfor %}
    {%- for relation in o.m2mRelations %}
    {{ relation.targetTable | dboClassName(x.schema) }}[] +{{ relation.name }}
    {%- endfor %}
  }
