{#- Here is an example of macro usge in nunjucks template for `pg-generator` -#}
{% macro classDiagram(table) %}
  class {{ table | dboClassName(x.schema) }} {
    {%- for column in table.columns %}
    {{ x.diagramTypes[column.type.name] }} +{{ column.name }}
    {%- endfor %}
    {%- for relation in table.o2mRelations %}
    {{ relation.targetTable | dboClassName(x.schema) }}[] +{{ relation.name }}
    {%- endfor %}
    {%- for relation in table.m2oRelations %}
    {{ relation.targetTable | dboClassName(x.schema) }} +{{ relation.name }}
    {%- endfor %}
    {%- for relation in table.m2mRelations %}
    {{ relation.targetTable | dboClassName(x.schema) }}[] +{{ relation.name }}
    {%- endfor %}
  }
{% endmacro %}

# Table: {{ o.fullName }}

## Database Structure

{{ o.comment }}

|PK|FK|Name|Type|NN|Index|
|:-:|:-:|---|---|:-:|:-:|
{%- for column in o.columns %}
|{{ "🔑" if column.isPrimaryKey }}|{{ "FK" if column.isForeignKey }}|{{column.name}}|{{column.type.name}}{{ column | dboColumnTypeModifier }}|{{ "●" if column.notNull else "○" }}|{{ column.indexes.length if column.indexes.length > 0 }}|
{%- endfor %}

### One to Many & Many to One Relations

```mermaid
erDiagram
  {%- for relation in o.o2mRelations %}
  {{ o.schema.name }}_{{ o.name }} ||--o{ {{ relation.targetTable.schema.name }}_{{ relation.targetTable.name }} : {{ relation.foreignKey.name }}
  {%- endfor %}
  {%- for relation in o.m2oRelations %}
  {{ o.schema.name }}_{{ o.name }} }o--|| {{ relation.targetTable.schema.name }}_{{ relation.targetTable.name }} : {{ relation.foreignKey.name }}
  {%- endfor %}
```

### Many to Many Relations

```mermaid
erDiagram
  {%- for relation in o.m2mRelations %}
  {{ o.schema.name }}_{{ o.name }} }o--o{ {{ relation.targetTable.schema.name }}_{{ relation.targetTable.name }} : {{ relation.name }}
  {%- endfor %}
```

### Class Diagram
```mermaid
classDiagram
  {#- Below is an example of partial usage #}
  {{ classDiagram(o) }}
  {%- for relation in o.o2mRelations %}
  {{ classDiagram(relation.targetTable) }}
  {{ o | dboClassName(x.schema) }} --> {{ relation.targetTable | dboClassName(x.schema) }} : {{ relation.name }}
  {%- endfor %}
  {%- for relation in o.m2oRelations %}
  {{ classDiagram(relation.targetTable) }}
  {{ o | dboClassName(x.schema) }} --> {{ relation.targetTable | dboClassName(x.schema) }} : {{ relation.name }}
  {%- endfor %}
  {%- for relation in o.m2mRelations %}
  {{ classDiagram(relation.targetTable) }}
  {{ o | dboClassName(x.schema) }} --> {{ relation.targetTable | dboClassName(x.schema) }} : {{ relation.name }}
  {%- endfor %}
```

